.cartas {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: fit-content;
  overflow-x: scroll;
}
.cartas > article {
  background-color: white;
  border: solid blue;
  text-align: center;
  margin: 10px;
  padding: 10px;
  width: 250px;
  height: 300px;
}
.cartas footer {
  display: flex;
  justify-content: space-around;
}
.cartas h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
.cartas p {
  font-size: 20px;
  font-weight: bold;
}
.imagen-disco {
  width: var(--imagen-disco-width);
}
.imagen-logo {
  width: var(--imagen-logo-width);
}
