.cartas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: blue;
}
.cartas > article {
  background-color: white;
  border: solid black;
  text-align: center;
  margin: 10px;
  padding: 10px;
  width: 250px;
  height: 300px;
}
.cartas footer {
  display: flex;
  justify-content: space-around;
}
.cartas h3 {
  font-size: 30px;
  font-weight: bold;
}
.cartas p {
  font-size: 20px;
  font-weight: bold;
}
.imagen-disco {
  width: var(--imagen-disco-width);
}
.imagen-logo {
  width: var(--imagen-logo-width);
}
