.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

footer img {
  width: 20px;
}

@media (max-width: 655px) {
  footer img {
    margin-bottom: 0;
  }
}
