header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-image: url(/Depositphotos_8480205_m-2015-compressor.jpg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover;
  height: 25vh;
  align-items: center;
}
.logoPágina {
  position: relative;
  margin-left: 18%;
  width: 20%;
}
.nombrePágina {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgLogo {
  width: 100%;
}
.títuloH2 {
  font-size: 4vw;
  background: #ff7dcd;
  color: wheat;
}
h1 {
  font-size: 7vw;
  color: wheat;
  margin-bottom: 2%;
  background: #d8d4ec;
}

@media (max-width: 655px) {
  header {
    height: 15vh;
    display: flex;
    align-items: center;
  }
  h1 {
    font-size: 10vw;
    color: wheat;
    margin-bottom: 2%;
    background: #ff7dcd;
  }
}
