.categorias-filtros {
    background-color: rgb(225, 22, 22);
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: auto;
    width: 100%;
    
}

.categoria {
    margin: 10% 5% 0 5%;
}
