main {
  margin-left: 2%;
  width: 70%;
}

.categorias {
  width: 100%;
}

.nav-main-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 655px) {
  .discos {
    display: none;
  }
  .categorias {
    width: 100%;
  }
  .nav-main-section {
    display: flex;
    flex-direction: column;
  }

  main {
    width: 100%;
  }

  .top-ventas {
    font-size: 2.5em;
  }
}
